body{
  margin: 0px;
  background-color: #AE0000;
}

#topNav{
  background-color: maroon;
  height: 15%;
  margin: 0px;
border-bottom: 7px solid black;
}

#topNav li{
    text-decoration: none;
    display: inline;
    float: right;
    padding-right: 35px;
}


#topNav li a{
     text-decoration: none;
     font-family:monospace;
     font-size: 35px;
     color: orange;
}

#topNav li a:hover{
  color: aqua;
}

#menuNav{
    height: 100%;
    width:  150px;
    background-color: maroon;
    border-right: 5px solid black;
    margin: 0px;
    float: left;

}

#menuNav li{
  list-style: georgian;
  font-size: 25px;
  font-family: monospace;
  padding-top: 15px;
  float: left;
  color: orange;
}
#menuNav li a{
     text-decoration: none;
     font-family:monospace;
     font-size: 25px;
     color: orange;
}
#menuNav li a:hover{
  color: aqua;
}

#slogan{
  font-size: 35px;
  font-family: fantasy;
  color: white;
}

#tit{
  font-family: Georgia;
  color: black;
}
